@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2', cursive;
}

::-webkit-scrollbar {
    width: 10px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background-color: rgb(21 21 21);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 0.5rem;

}

* {
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(161, 161, 161);
    -webkit-box-shadow: 0 0 0 1000px #3C3C3C inset;
    transition: background-color 5000s ease-in-out 0s;
}